flask
flask-cors

aws-xray-sdk

opentelemetry-instrumentation
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-flask
opentelemetry.instrumentation.requests

aws-xray-sdk

watchtower

